/* universal */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --primary-color:#047aed;
    --secondary-color:#1c3fa8;
    --dark-color:#002240;
    --light-color:#f4f4f4;
    --success-color:#5cb85c;
    --error-color:#d9534f;
}


*{
    box-sizing:border-box ;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato',sans-serif;
    color: #333;
    line-height: 1.6;
}
ul{
   list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin: 10px 0;
}
img{
    width: 100%;
}
code,pre{
    background: #333;
    color: #fff;
    padding: 10px;
}
.hidden{
    visibility: hidden;
    height:0 ;
}
/* navigation bar */
.navbar{
    background-color: var(--primary-color);
    color: #fff;
   height: 70px;
}
.navbar ul{
    display: flex;
}
.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}
.navbar a:hover{
    border-bottom: 2px #fff solid;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
.container .stats-heading{
    width: 800px;
    margin: auto;
}

.navbar .flex{
    justify-content: space-between;
}

.flex{
   align-items: center;
    display: flex;
    justify-content:center;
    height: 100%;
}
.card{
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
}
/* showcase */
.showcase{
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}
.showcase h1{
    font-size: 40px;
}
.showcase p{
    margin: 20px 0;
}
.showcase .grid{
    overflow:visible;
    grid-template-columns: 50% 40%;
    gap: 50px;
}
.showcase-form{
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index:100; 
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;
}
.showcase-form .form-control{
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='text'],
.showcase-form input[type='email']{
border: 0;
border-bottom: 1px solid #b4becb;
width: 100%;
padding: 3px;
font-size: 16px;
}
.showcase-form input:focus{
    outline: none;
}
.showcase::before,
.showcase::after{
    content:'';
    position: absolute;
    height: 100px;
    bottom: -70px ;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}
.showcase-text{
    animation: slideInFromLeft 1s ease-in;
}

/* stats */
.stats{
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}
.sts{
    padding: top 100px;
}
.stats-heading{
    max-width: 500px;
    margin: auto;
}
.stats .grid h3{
   font-size: 35px; 
}
.stats .grid p{
    font-size: 20px;
    font-weight: bold;
}
/* utilities */
.grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.grid-3{
    grid-template-columns: repeat(3,1fr);
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border:none;
    border-radius: 5px;
}
.btn-outline{
    background-color: transparent;
    border:1px #fff solid;
}
.btn:hover{
    transform: scale(0.98);
}
/* backkground n colored buttons */
.bg-primary,
.btn-primary{
    background-color: var(--primary-color);
    color: #fff;
}
.bg-secondary,
.btn-secondary{
    background-color: var(--secondary-color);
    color: #fff;
}
.bg-dark,
.btn-dark{
    background-color: var(--dark-color);
    color: #fff;
}
.bg-light,
.btn-light{
    background-color: var(--light-color);
    color: #333;
}
.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a{
    color:#fff;
}
/* text color */

.text-primary{
   color: var(--primary-color);
}

.text-secondary{
   color: var(--secondary-color);
}

.text-dark{
   color: var(--dark-color);
}

.text-light{
   color: var(--light-color);
}

/* text-sizes */
.lead{
    font-size: 20px;
}
.sm{
    font-size: 1rem;
}
.md{
    font-size: 2rem;
}
.lg{
    font-size: 3rem;
}
.xl{
    font-size: 4rem;
}
.text-center{
    text-align: center;
}
.alert {
    background-color: var(--light-color);
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;
}
.alert i{
    margin-right: 10px;
}
.alert-success{
    background-color: var(--success-color);
    color: #fff;
}
.alert-error{
    background-color: var(--error-color);
    color: #fff;
}
/* margin */
.my-1{
    margin: 1rem 0;
}
.my-2{
    margin: 1.5rem 0;
}
.my-3{
    margin: 2rem 0;
}
.my-4{
    margin: 3rem 0;
}
.my-5{
    margin: 4rem 0;
}
.m-1{
    margin: 1rem;
}
.m-2{
    margin: 1.5rem;
}
.m-3{
    margin: 2rem;
}
.m-4{
    margin: 3rem;
}
.m-5{
    margin: 4rem;
}
/* padding */
.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 1.5rem 0;
}
.py-3{
    padding: 2rem 0;
}
.py-4{
    padding: 3rem 0;
}
.py-5{
    padding: 4rem 0;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 1.5rem;
}
.p-3{
    padding: 2rem;
}
.p-4{
    padding: 3rem;
}
.p-5{
    padding: 4rem;
}
/* cli */
.cli .grid{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
}
.cli .grid > *:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* cloud */
.cloud .grid{
    grid-template-columns:4fr 3fr;
   
}
/* languages */
.language .flex{
    flex-wrap: wrap;
}

.language .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}
.languages .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.language .card:hover{
    transform: translateY(-15px);
}
/* footer */
.footer .social a{
    margin: 0 10px;
}
/* animation */
@keyframes slideInFromLeft{
    0%{
        transform:translateX(-100%) ;
    }
    100%{
        transform:translateX(0);
    }
}
@keyframes slideInFromRight{
    0%{
        transform:translateX(100%) ;
    }
    100%{
        transform:translateX(0);
    }
}
@keyframes slideInFromtop{
    0%{
        transform:translateY(-100%) ;
    }
    100%{
        transform:translateY(0);
    }
}
@keyframes slideInFrombottom{
    0%{
        transform:translateY(100%) ;
    }
    100%{
        transform:translateY(0);
    }
}
/* features */
.features-head img,
 .docs-head img
{
    width: 200px;
    justify-self: flex-end;
}
.features-sub-head img{
    width: 300px;
    justify-self:flex-end;
}
.features-main .card>i {
 margin-right: 20px;
}
.features-main .grid{
    grid-template-columns: repeat(3,1fr);
}
.features-main .grid>*:first-child{
    grid-column: 1/ span 3;
}
.features-main .grid>*:nth-child(2){
    grid-column: 1/ span 2;
}
/* docs */
.docs-main h3{
    margin: 20px 0;
}
.docs-main .grid{
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}
.docs-main nav li{
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}
.docs-main a:hover{
    font-weight: bold;
}

/* tablets and under */
@media(max-width:768px){
.grid,
.showcase .grid,
.stats .grid,
.cli .grid,
.cloud .grid,
.features-main .grid,
.docs-main .grid{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.showcase{
    height: auto;
}
.showcase-text{
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
}
.showcase-form{
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
}
.cli .grid > *:first-child{
    grid-column: 1;
    grid-row: 1;
}
.features-head,
.features-sub-head,
.docs-head{
  text-align: center;  
}
.features-head img,
.features-sub-head img,
.docs-head img{
  justify-self: center;  
}
.features-main .grid>*:first-child ,
 .features-main .grid> *:nth-child(2){
 grid-column: 1;
}

}
/* mobile */
@media(max-width:500px){
    .navbar{
        height: 110px;
    }
    .navbar .flex{
        flex-direction: column;
    }
    .navbar ul{
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }
}